#root{
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  
}
html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  background-color: rgb(231, 231, 231);
  flex-direction: row;
  margin : none;
}

.sidebar {
  flex : 1;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo {
  
  font-size: 24px;
  font-weight: bold;
}

.bank-name {
  flex : 1;
  font-size: 16px;
  margin-top: 2.5em;
}

.main {
  flex: 3;
  padding: 3em;
  display: flex;
  flex-direction: column;
}

.header{
  flex: 1;
}
.header-text {
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
  box-shadow: 0px 4px 4px 4px gray;
  padding: 10px;
  
}

.dropdown-section {
  display: flex;
  gap: 80px;
  justify-content: left;
  
  flex : 1;
}

.dropdown label {
  font-size: 14px;
  display: block;
}

.dropdown select {
  padding: 5px;
  width: 300px;
  height: auto;
}

.interpret-button {
  margin-top: 3.5em;
  background-color: #ffe600;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #000;
  width: 250px;
  height: 40px;
  border-radius: 10px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  
}

.data-table th{
  
  padding: 8px;
  text-align: center;
  background-color: darkgray;
  
}
.data-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.title {
 width: 10%;
}

.item {
  width: 10%;
 }
 
.schedule {
  width: 10%;
 }
.articles{
  width: 12%;
  color: blue;
  white-space: pre-line;
  text-align: center;
}
.interpretation{
  width: 40%;
}
.interpretation-content{
  width: 40%;
  color: forestgreen;
  text-align: justify;
  white-space: pre-line;
}
.articles-h{
  width: 12%;
 
}
.qna-h{
  width: 8%;
}
.interpretation-h{
  width: 40%;
}
.loading {
  text-align: center;
  font-size: xx-large;
}
.warning {
  text-align: left;
  
  color: red;
}
.qna{
  width: 8%;
  text-align: center;
  white-space: pre-line;
  color: darkmagenta;
}
.menu-option {
  flex : 4;
  
}
.menu-btn {
  width: 85%;
  color: black;
  background-color: #f3f4f6; /* Equivalent to Tailwind's bg-gray-100 */
  transition: background-color 0.3s ease, color 0.3s ease;

  gap: 1rem; /* Equivalent to Tailwind's gap-4 */
  border: 2px solid #d1d5db; /* Equivalent to Tailwind's border-gray-300 */
  padding: 1.5rem; /* Equivalent to Tailwind's p-6 */

  border-radius: 0.5rem; /* Equivalent to Tailwind's rounded-lg */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Equivalent to Tailwind's shadow-lg */
  height: 5.5em;
  margin-bottom: 1.5em;
  
}

.menu-btn:hover {
  background-color: #ffe600; /* Equivalent to Tailwind's bg-blue-600 */
  color: black;
}

.interpret-table {
 
  flex:4;
  overflow-y:scroll;
  scrollbar-width: none;
}
.i-head{
  display: flex;
  flex-direction: row;
  height : 10%;
}
.i-title{
  flex:1;
  font-size: 20px;
}
.i-cp{
  flex:1
}
thead{
  position: sticky;
  top: 0;
  z-index: 10;
  
  
}
tbody{
  overflow-y: auto;
}
