body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #ffffff;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
}

.logo {
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
}

.bank-name {
  margin-top: 10px;
  font-size: 16px;
}

.main {
  flex: 1;
  padding: 20px;
  background-color: rgb(231, 231, 231);
}

.header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
  box-shadow: 0px 4px 4px 4px gray;
  padding: 10px;
}

.dropdown-section {
  display: flex;
  gap: 100px;
  justify-content: left;
  margin-bottom: 20px;
}

.dropdown label {
  font-size: 14px;
  display: block;
}

.dropdown select {
  padding: 5px;
  width: 300px;
  height: auto;
}

.interpret-button {
  background-color: #db0011;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
  width: 250px;
  height: 40px;
  border-radius: 10px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th, .data-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.data-table th {
  background-color: #ddd;
}
.title {
 width: 10%;
}

.item {
  width: 10%;
 }
 
.schedule {
  width: 10%;
 }
.articles{
  width: 10%;
  color: blue
}
.interpretation{
  width: 60%;
  
}
.interpretation-content{
  width: 60%;
  color: forestgreen;
  text-align: justify;
}
.articles-h{
  width: 10%;
  
}
.interpretation-h{
  width: 60%;
}
.loading {
  text-align: center;
  margin-top: 100px;
  font-size: xx-large;
}
.warning {
  text-align: justify;
  margin-top: 20px;
  color: red;
}